@import 'libs/normalize';

@import 'fonts';
@import 'variables';

body {
  font-family: $body-font-family;
  font-size: $font-size-base;
  line-height: 1.2;
  color: $white;
  background: $black;
}

h1, h2, h3, h4, h5, h6, .heading {
  margin-top: 0;
  font-family: $heading-font-family;
  font-weight: $fw-regular;
}
h1 { font-size: 30px; }
h2 { font-size: 25px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }

ul {
  &.no-style {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }
}

a {
  &.no-style {
    color: inherit;
    text-decoration: none;
  }
}

hr {
  border-color: rgba($white, .2);
}