
$white: #fff;
$black: #000;
$fs-black: #070712;

$heading-font-family: 'Poppins', serif;
$body-font-family: 'Open Sans', sans-serif;

$font-size-base: 14px;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
