
$white: #fff;
$black: #000;
$fs-black: #070712;

$space-blue-700:  #1d3557;
$space-blue-600:  #234e69;
$space-blue-500:  #457b9d;
$space-blue-300:  #a8dadc;

$primary: $space-blue-700;
$primary-light: $space-blue-600;

$heading-font-family: 'Poppins', serif;
$body-font-family: 'Open Sans', sans-serif;

$font-size-base: 14px;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
